<!-- Topbar Start -->
<header class="sticky top-0 bg-white h-16 flex items-center px-5 gap-4 z-50">
    <!-- Topbar Brand Logo -->
    <a href="index.html" class="md:hidden flex">
        <img src="assets/images/logo-sm.png" class="h-6" alt="Small logo">
    </a>

    <!-- Sidenav Menu Toggle Button -->
    <button id="button-toggle-menu"
        class="text-gray-500 hover:text-gray-600 p-2 rounded-full cursor-pointer waves-effect me-auto"
        data-hs-overlay="#app-menu" aria-controls="application-sidebar" aria-label="Toggle navigation">
        <span class="sr-only">Menu Toggle Button</span>
        <span class="flex items-center justify-center h-6 w-6">
            <i class="ti ti-menu-2 text-2xl"></i>
        </span>
    </button>
    <ul class="menu" style="display: flex; flex-direction: auto; margin-bottom: auto;">
        <li class="menu-item" style="margin-top: auto;">
            <a class="group flex items-center gap-x-3.5 rounded-e-full px-4 py-5 text-sm font-medium text-default-700 transition-all hover:bg-default-100"
                href="https://mpshub.vercel.app">
                <!-- <i class="material-symbols-rounded font-light text-2xl transition-all group-hover:fill-1">download</i> -->
                <i class="ti ti-circle-filled scale-[.25] text-lg"></i>
                View Forms
            </a>
        </li>
    </ul>
</header>
<!-- Topbar End -->